.advantages__title {
  margin: 0;
  padding-top: 34px;
  color: $main-font-color;
  font-size: 25px;
  font-weight: $font-bold;
  line-height: 30px;
}

.advantages__list {
  @include list-unstyling;
}

.advantages__item {
  padding-top: 88px;
  color: $main-font-color;
  font-size: 17px;
  font-weight: $font-bold;
  line-height: 20px;
}

@media (min-width: $mobile-width) {
  .advantages{
    @include inside-container
  }
}

@media (min-width: $tablet-width) {
  .advantages__title {
    font-size: 43px;
    line-height: 50px;
  }

  .advantages__list {
    width: 668px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item{
    margin-right: 50px;
    width: 250px;
    font-size: 20px;
    line-height: 22px;
    &:nth-child(1){
      order: 1;
    }
    &:nth-child(2){
      order: 3;
    }
    &:nth-child(4){
      order: 2;
    }
    &:nth-child(5){
      width: 300px;
      order: 4;
    }
    &:nth-child(3){
      order: 5;
    }
    &:nth-child(6){
      order: 6;
    }
  }
}

@media (min-width: $desctop-width){
  .advantages__title {
    font-size: 53px;
    line-height: 57px;
  }
}
