.advantages__title {
  margin: 0px;
  padding-top: 34px;
  color: $main-font-color;
  font-size: 25px;
  font-weight: $font-bold;
  line-height: 30px;
}

.advantages__list {
  @include list-unstyling;
}

.advantages__item {
  padding-top: 88px;
  color: $main-font-color;
  font-size: 17px;
  font-weight: $font-bold;
  line-height: 20px;
}
