.btn {
  display: inline-block;
  color: $loghten-font;
  border: 2px solid $loghten-font;
  padding: 16px 80px;
  font-size: 18px;
  font-weight: $font-bold;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $primary-color;
  &:hover, &:focus{
   background-color: $loghten-font;
   color: $primary-color;
   border: 2px solid $loghten-font;
  };
  &:active{
    background-color: $loghten-font;
    color: $btn-active-color;
    border: 2px solid $loghten-font;
  }

}
