.btn {
  display: inline-block;
  padding: 12px 80px;
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 20px;
  color: $loghten-font;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $primary-color;
  border: 2px solid $loghten-font;

  &:hover,
  &:focus {
    color: $primary-color;
    background-color: $loghten-font;
    border: 2px solid $loghten-font;
  }

  &:active {
    color: $btn-active-color;
    background-color: $loghten-font;
    border: 2px solid $loghten-font;
  }
}
