.catalog-video{
  width: 260px;
  height: 150px;
}


.catalog-video__btn{
  position: absolute;
  top: 40px;
  left: 30%;
  width: 101px;
  height: 77px;
  background-image: url(../img/icon-play.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  border: none;
  &:hover,
  &:focus{
    transform:
    scale(1.2);
  }
  &:focus{
    opacity: 0.3;
    transform:
    scale(0.8);
  }
}

.catalog-video__image{
  position: absolute;
  @include img-width;
}

@media (min-width: $tablet-width) {
  .catalog-video{
    width: 668px;
    height: 455px;
  }
  .catalog-video__btn{
    top: 190px;
    left: 280px;
  }
}

@media (min-width: $desctop-width) {
  .catalog-video{
    width: 682px;
    height: 455px;
  }
}
