.contacts__title {
  color: $main-font-color;
  font-size: 18px;
  font-weight: $font-bold;
  line-height: 30px;
}

.contacts__field {
  color: $loghten-font;
  font-size: 15px;
  font-weight: $font-normal;
  line-height: 30px;
}

.contacts__value {
  color: $loghten-font;
  font-size: 15px;
  font-weight: $font-normal;
  line-height: 30px;
}

.contacts__email {
  position: relative;
  text-decoration: none;
  color: $main-font-color;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 180px;
    height: 1px;
    background-color: $theme-color;
  }

  &:hover,
  &:focus {
    color: $theme-color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $mobile-width) {
  .contacts__title{
    @include inside-container;
  }
  .contacts__specifications{
    @include inside-container;
    display: flex;
  }
  .contacts__field{
    vertical-align: top;
    width: 50px;
  }
  .contacts__value {
    padding-left: 30px;
    width: 180px;
    span {
      display: block;
    width: 150px;
    }
  }
  .contacts__btn-container{
    margin-top: 20px;
    margin-bottom: 20px;
    @include inside-container;
  }
  .contacts__btn{
    padding: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .contacts__specifications{
    display: flex;
    flex-direction: row;
    }
    .contacts__btn-container{
      display: flex;
    }
    .contacts__btn{
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
  }
}

