.contacts__title {
  padding-left: 30px;
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 30px;
  color: $main-font-color;
}

.contacts__field {
  width: 50px;
  font-weight: $font-normal;
  font-size: 15px;
  line-height: 30px;
  vertical-align: top;
  color: $loghten-font;
}

.contacts__value {
  width: 180px;
  padding-left: 25px;
  font-weight: $font-normal;
  font-size: 15px;
  line-height: 30px;
  color: $loghten-font;

  span {
    display: block;
  }
}

.contacts__email {
  position: relative;
  color: $main-font-color;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 180px;
    height: 1px;
    background-color: $theme-color;
  }

  &:hover,
  &:focus {
    color: $theme-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts {
  position: relative;
  max-width: 1050px;
  padding-top: 60px;

  &::after {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 300px 6px;
  }
}

.contacts__container {
  padding-top: 12px;
}

.contacts__tr {
  &--second {
    padding-top: 25px;
  }
}

.contacts__flag-icon {
  display: none;
}

.contacts__specifications {
  tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 4px;
    padding-left: 25px;
  }
}

.contacts__btn-container {
  @include inside-container;
  margin-top: 33px;
  margin-bottom: 38px;
}

.contacts__btn {
  width: 100%;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 16px;
  text-align: center;
}

.contacts__map-container {
  position: relative;
  margin-top: 32px;
}

.contacts__map-img {
  @include img-width;
}

.contacts__map-api {
  position: absolute;
  top: 0;
  width: 100%;
  height: 462px;
}

@media (min-width: $tablet-width) {
  .contacts {
    @include central-container;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 0;

    &::after {
      content: "";
      position: absolute;
      top: -35px;
      left: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: repeat-x;
      background-size: 772px 17px;
      transform: rotate(180deg);
    }
  }

  .contacts__title {
    @include inside-container;
    position: relative;
    padding: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__flag-icon {
    position: absolute;
    top: -12px;
    right: 53px;
    display: block;
  }

  .contacts__specifications {
    @include inside-container;
    width: 100%;
  }

  .contacts__email::after {
    width: 208px;
  }

  .contacts__specifications tbody {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  .contacts__btn-container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 55px;
  }

  .contacts__btn {
    max-width: 230px;
    margin-right: auto;
    margin-left: auto;
  }

  .contacts__field {
    width: auto;
    font-size: 17px;
    line-height: 30px;
    vertical-align: top;
  }

  .contacts__value {
    width: 180px;
    padding-left: 20px;
    font-size: 17px;
    line-height: 30px;

    span {
      display: block;
      width: 240px;
    }
  }

  .contacts__tr {
    &--first {
      padding-top: 10px;
    }

    &--second {
      width: 320px;
      padding-top: 10px;
      padding-left: 40px;
    }
  }

  .contacts__map-container {
    margin-top: 52px;
  }
}


@media (min-width: $desctop-width) {
  .contacts {
    @include central-container;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    padding-top: 70px;

    &::after {
      top: 20px;
      right: 0;
      left: 0;

      width: 1050px;
      height: 24px;

      background-image: url("../img/bg-zigzag-line.svg");
      background-size: 1050px 24px;
      transform: rotate(180deg);
    }
  }

  .contacts__specifications {
    box-sizing: border-box;
    width: 400px;

    tbody {
      flex-direction: column;
      width: 400px;
      padding-left: 120px;
    }
  }

  .contacts__tr {
    &--first {
      padding-top: 12px;
    }

    &--second {
      padding-top: 25px;
      padding-left: 0;
    }
  }

  .contacts__container {
    display: flex;
    flex-direction: column;
    width: 47.5%;
    padding-top: 70px;
  }

  .contacts__map-container {
    margin-top: 45px;
    margin-bottom: 100px;
    margin-left: 25px;
  }

  .contacts__title {
    margin-top: 35px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-left: 170px;
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__flag-icon {
    position: absolute;
    top: 0;
    right: 0;
    left: 63px;
  }

  .contacts__btn {
    padding-right: 33px;
    padding-left: 38px;
  }

  .contacts__btn-container {
    position: absolute;
    bottom: 50px;
    left: 174px;
  }
}
