.copyright__creator {
  font-weight: $font-bold;
  font-size: 19px;
  line-height: 18px;
  color: $main-font-color;
  display: inline-block;
  padding-top: 10px;
  padding-left: 37px;
}

.copyright {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  min-height: 80px;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  border-top: 1px solid #e5e5e5;

  &:hover,
  &:focus {
    .copyright__logo-img {
      fill: #46c1ae;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo-img {
  position: absolute;
  top: 20px;
  right: 40px;
  fill: $theme-color;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 260px;
    margin: 0;
    padding-top: 32px;
  }

  .copyright__creator {
    padding-left: 80px;
  }

  .copyright__logo-img {
    top: 57px;
    right: -3px;
  }
}

@media (min-width: $desctop-width) {
  .copyright__creator {
    padding-right: 57px;
    padding-left: 0;
  }

  .copyright {
    width: auto;
    margin-right: 0;
  }
}
