.copyrgiht__creator {
  color: $main-font-color;
  font-size: 19px;
  font-weight: $font-bold;
  line-height: 18px;
}

@media (min-width: $mobile-width) {
  .copyright{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .copyrgiht__creator{
    display: inline-block;
  }
}
