.copyrgiht__creator {
  color: $main-font-color;
  font-size: 19px;
  font-weight: $font-bold;
  line-height: 18px;
}
.copyright {
  position: relative;
  border-top: 1px solid #e5e5e5;
  min-height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  &:hover,
  &:focus{
    .copyright__logo-img{
      fill:#46c1ae;
    }
  }
  &:active{
    opacity: 0.3;
  }
}

.copyrgiht__creator {
  display: inline-block;
  padding-left: 37px;
  padding-top: 10px;
}
.copyright__logo-img{
  position: absolute;
  top: 20px;
  right: 40px;
  fill: $theme-color;
}

@media (min-width: $tablet-width) {
  .copyright{
    width: 210px;
    padding-top: 32px;
    margin: 0px;
    margin-left: auto;
  }
  .copyrgiht__creator{
    padding-top: 15px;
    padding-left: 14.7%;
  }
  .copyright__logo-img{
    top: 57px;
    right: -3px;
  }
}

@media (min-width: $desctop-width){
  .copyrgiht__creator{
    padding-left: 0px;
    padding-top: 10px;
    padding-right: 57px;
    margin-left: 0px;
  }

  .copyright{
    width: auto;
    margin-right: 0px;
  }
}
