.directions__info {
  font-size: 27px;
  font-weight: $font-bold;
  line-height: 30px;
  margin: 0;
  padding-top: 76px;
  margin-right: auto;
  margin-left: auto;
  width: 215px;
  text-align: center;
}

.directions__list {
  @include list-unstyling;
  width: 100%;
  margin-top: 120px;
  list-style: none;
  font-size: 19px;
  font-weight: $font-bold;
  line-height: 24px;
  color: $primary-color;
}

.directions__link {
  position: relative;
  display: block;
  padding: 30px 0;
  background-color: $theme-color;
  width: 100%;
  text-decoration: none;
  color: $primary-color;

  span {
    display: block;
    width: 106px;
  }

  &:hover,
  &:focus {
    padding-top: 25px;
    padding-bottom: 35px;
    transform: scaleY(1.14)
      translateY(-5px);

    span {
      transform: scaleY(0.86);
    }
    .directions__icon {
      opacity: 0.7;
      transform: scaleY(0.86);
    }
  }

  &:active {
    span {
      color: $btn-active-color;
    }
    .directions__icon {
      opacity: 0.3;
      transform: scaleY(0.86);
    }
  }
}

.directions__icon {
  position: absolute;
  fill: #149080;
  opacity: 0.5;
  right: 30px;
  top: 20px;
}

.directions__item {
  &:nth-child(2n) .directions__link {
    background-color: $darken-theme-color;
  }
}

@media (min-width: $mobile-width) {
  .directions {
    margin-top: 1px;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% -10%;
    background-color: #f9f9f9;
    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 575px 373px;
    }
  }
  .directions__list{
    span{
      @include inside-container;
    }
  }
}

@media (min-width: $tablet-width) {
  .directions {
    margin-top: 0;
    background-image: url("../img/hero-tablet@1x.jpg");
    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px 746px;
    }
  }
  .directions__info{
    width: 500px;
    margin-bottom: 360px;
    color: $main-font-color;
    font-size: 43px;
    font-weight: $font-bold;
    line-height: 50px;
  }
  .directions__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .directions__item {
    display: flex;
    width: 50%;
  }

}
@media (min-width: $desctop-width) {
  .directions__info{
    width: 630px;
    font-size: 53px;
    line-height: 57px;
  }
  .directions__list {
    max-width: 1050px;
    @include central-container;
    span{
      padding-left: 0px;
      padding-left: 37px;
    }
  }
}
