.directions__info {
  font-size: 27px;
  font-weight:$font-bold;
  line-height: 30px;
  margin: 0px;
  padding-top: 76px;
  margin-right: auto;
  margin-left: auto;
  width: 215px;
  text-align: center;
}
