.form-sorting__description {
  @include inside-container;
  padding-bottom: 12px;
  width: 242px;
  margin-top: 22px;
  font-weight: $font-normal;
  font-size: 13px;
  line-height: 24px;
  color: $loghten-font;
}

.form-sorting__important-inputs {
  @include inside-container;
  margin-top: 14px;
  font-weight: $font-normal;
  font-size: 14px;
  line-height: 16px;
  color: $loghten-font;
}

.form-sorting__btn {
  width: 81.2%;
  margin-top: 17px;
  margin-right: auto;
  margin-bottom: 55px;
  margin-left: 30px;
  padding-right: 22px;
  padding-bottom: 16px;
  padding-left: 20px;
  text-align: center;
}

.form-sorting__textarea {
  width: 78%;
  height: 121px;
  margin-top: 15px;
  padding-top: 14px;
  padding-right: 43px;
  padding-left: 12px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid $main-font-color;
}

@media (min-width: $tablet-width) {
  .form-sorting__description {
    width: 80%;
    padding-top: 40px;
    font-size: 17px;
    line-height: 30px;
  }

  .form-sorting__additional-contaner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    order: 1;
  }

  .form-sorting__bottom-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    order: 2;
    width: 100%;
  }

  .form-sorting__fieldset--bottom {
    width: 100%;
  }

  .form-sorting__btn {
    order: 1;
    width: 230px;
    margin-top: 4px;
    margin-bottom: 50px;
    margin-left: 50px;
    padding-bottom: 16px;
  }

  .form-sorting__important-inputs {
    order: 2;
    margin-top: 13px;
    margin-right: 50px;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .form-sorting__textarea {
    width: 66%;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
    font-weight: 400;
    font-size: 19px;
    line-height: 18px;
  }
}

@media (min-width: $desctop-width) {
  .form-sorting__description {
    @include container;
    max-width: 700px;
    padding-top: 125px;
  }

  .form-sorting__bottom-container {
    @include container;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    order: 2;
    width: 700px;
  }

  .form-sorting__btn {
    margin: 0;
    margin-bottom: 50px;
  }

  .form-sorting__important-inputs {
    margin-top: 10px;
    margin-right: 0;
    margin-left: auto;
    padding: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .form-sorting__textarea {
    width: 100%;
  }
}
