.good {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.good:hover .good__info-container,
.good:focus .good__info-container{
  opacity: 0.6;
  .good__cart-icon{
    opacity: 1;
    fill: $theme-color;
  }
}

.good:active .good__info-container{
    opacity: 0.3;
  .good__cart-icon{
    fill: $theme-color;
  }
}

.good__image-container{
  order: 1;
  display: flex;
}

.good__image{
  @include img-width;
}

.good__info-container{
  order: 2;
  display: flex;
  flex-direction: column;
  width: 79%;
  padding-left: 27px;
  padding-right: 27px;
}

.good__title {
  order: 2;
  padding-top: 8px;
  margin-bottom: 0px;
  color: $main-font-color;
  font-size: 17px;
  font-weight: $font-bold;
  line-height: 24px;
}

.good__description {
  order: 3;
  padding-top: 5px;
  margin-top: 0px;
  color: $loghten-font;
  font-size: 13px;
  font-weight: $font-normal;
  line-height: 30px;
}

.good__bottom {
  position: relative;
  margin-top: 6px;
  padding-top: 21px;
  padding-bottom: 13px;
  order: 4;
  color: $main-font-color;
  font-size: 15px;
  font-weight: $font-bold;
  line-height: 24px;
  border-top: 1px solid #ececec;
}

.good__cart-icon{
  position: absolute;
  top: 23px;
  right: 2px;
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .good {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
  }
  .good__image-container{
    width: 50%;
  }
  .good__info-container{
    width: 50%;
  }
  .good__bottom {
    padding-top: 10px;
    margin-top: auto;
    margin-bottom: none;
  }
}

@media (min-width: $desctop-width){
  .good {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  .good__image-container{
    width: 100%;
  }
  .good__info-container{
    width: 90%;
  }
  .good__bottom {
    margin-top: auto;
    margin-bottom: none;
  }
}

