.main-nav {
  position: relative;
  background-color: $primary-color;
  color: $main-font-color;
}

.main-nav__list {
  @include list-unstyling;
  list-style: none;
  color: $main-font-color;
  font-weight: $font-bold;
}

.main-nav__logo-container {
  position: relative;
}

.main-nav__stock{
  display: none;
}

.main-nav__toggle-contatainer{
  position: relative;
  display: block;
  min-height: 80px;
}

.main-nav__toggle{
  visibility: hidden;
  position: absolute;
  right: 22px;
  top: 25px;
}
.main-nav__toggle--off:after{
  visibility: visible;
  display: block;
  content: "";
  width: 21px;
  height: 21px;
  background-image: url(../img/icon-menu-close.svg);
  background-repeat: no-repeat;
  background-size: 21px 21px;
}

@media (min-width: $tablet-width) {
  .main-nav{
    max-width: 1150px;
    display: block;
    background: linear-gradient(#ffffff 55%, #f1f1f1 45%);
  }

  .main-nav--index{
    background: linear-gradient(#ffffff 55%, #f9f9f9 45%);
  }

  .main-nav__toggle-contatainer{
    display: none;
  }

  .main-nav__wrapper{
    max-width: 1150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .main-nav__list{
    display:flex;
    flex-wrap: wrap;
  }

  .main-nav__toggle{
    display: none;
  }
}

@media (min-width: $desctop-width){
  .main-nav{
    @include central-container;
    background: linear-gradient(#ffffff 65%, #f1f1f1 35%);
  }
  .main-nav--index{
    background: linear-gradient(#ffffff 65%, #f9f9f9 35%);
  }
  .main-nav__list{
    @include inside-container;
  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  .main-nav__stock {
    @include list-unstyling;
    display: flex;
  }
}

