.main-footer {
  background-color: #f1f1f1;
}

.main-footer__social {
  @include list-unstyling;
}

@media (min-width: $mobile-width) {
  .main-footer__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include inside-container;
  }
  .social-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    justify-content: space-around;
  }
  .main-footer__logo {
    display: none;
  }
  .social-list__item {
    position: relative;
  }
  .main-footer__social-logo {
    position: absolute;
    top: 15px;
    fill: $main-font-color;
  }
  .social-list__link {
    &:hover,
    &:focus {
      .main-footer__social-logo{
        fill: $theme-color;
      }
    }
    &:active{
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width){
  .main-footer__logo {
    display: inline-block;
    width: 100px;
    margin: 0;
  }
}

@media (min-width: $desctop-width){
  .main-footer__container{
    max-width: 1050px;
    @include container;
  }
   .main-footer__copyright{
    margin: 0;
   }
}
