.modal-add-item {
    position: fixed;
    top: 30%;
    z-index: 4;

    width: 100%;

    background: #ffffff;
    border: 1px solid #c6c6c6;
    box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
    cursor: default;
}

.modal-add-item__title {
    width: 150px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 30px;
    padding-left: 5px;

    font-weight: $font-bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: $main-font-color;
    text-transform: uppercase;
}

.modal-add-item__size-title {
    width: 136px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;

    font-weight: $font-normal;
    font-size: 15px;
    line-height: 30px;
    color: $loghten-font;
}

.modal-add-item__select {
    @include list-unstyling;
}

.modal-add-item__btn {
    display: block;
    width: 81.25%;
    margin-right: auto;
    margin-bottom: 46px;
    margin-left: auto;
    padding: 12px 0;
    padding-bottom: 16px;

    color: $primary-color;

    background-color: $theme-color;
    border: 2px solid $theme-color;
}

@media(min-width: $tablet-width) {
    .modal-add-item {
        right: 12%;
        left: 12%;

        display: block;
        width: 566px;
    }

    .modal-add-item__title {
        width: 62.7%;

        font-size: 30px;
        line-height: 57px;
    }

    .modal-add-item__size-title {
        width: 62.7%;
        margin-top: 15px;

        font-size: 17px;
        text-align: center;
    }

    .modal-add-item__select {
        width: 62.7%;
    }

    .modal-add-item__btn {
        width: 62.7%;
        margin-top: 25px;
    }
}

@media(min-width: $desctop-width) {
    .modal-add-item {
        left: 50%;

        transform: translateX(-50%);
    }
}
