.order-fieldset__legend {
  color: $theme-color;
  font-size: 17px;
  font-weight: $font-bold;
  line-height: 16px;
  text-transform: uppercase;
}

.order-fieldset__list {
  @include list-unstyling;
}

.order-fieldset__item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.field-label {
  color: $main-font-color;
  font-size: 17px;
  font-weight: $font-bold;
  line-height: 18px;
}

.order-fieldset {
  input,
  textarea {
    border: none;
    width: 260px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid $main-font-color;

    &:hover,
    &:focus,
    &:active {
      border-bottom: 2px solid $theme-color;
    }
  }
}
