.page-header {
  background-color: #f1f1f1;
}

.page-header__title {
  margin-top: 0px;
  padding-left:10px;
  padding-top: 72px;
  padding-bottom: 76px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  color: $main-font-color;
  font-size: 27px;
  font-weight: $font-bold;
  line-height: 30px;
}

@media(min-width: $tablet-width){

}
