.production {
  border: 1px solid #ececec;
}

.production__title{
  width: 126px;
  color: $main-font-color;
  font-size: 17px;
  font-weight: $font-bold;
  line-height: 24px;
}

.production__description{
  width: 183px;
  color: $loghten-font;
  font-size: 13px;
  font-weight: $font-normal;
  line-height: 24px;
}
