.production {
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 60px;
  margin-left: 30px;
  border: 1px solid #ececec;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.production__container {
  position: relative;
  width: 100%;
}

.production__title {
  width: 55%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 60px;
  font-weight: $font-bold;
  font-size: 17px;
  line-height: 24px;
  color: $main-font-color;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 5px 15px;
}

.production__description {
  width: 73%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 7px;
  font-weight: $font-normal;
  font-size: 13px;
  line-height: 24px;
  color: $loghten-font;
}

.production__btn {
  display: block;
  width: 63%;
  margin-top: 24px;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
  padding: 0 13px;
  padding-top: 12px;
  padding-bottom: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .production {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    border: 1px solid #ececec;
  }

  .production__title {
    order: 2;
    margin-top: 25px;
    margin-left: 42px;
    padding-left: 64px;
    font-size: 20px;
    line-height: 24px;
    background-position: 0 5px;
  }

  .production__container {
    order: 1;
  }

  .production__description {
    order: 3;
    width: 87%;
    margin-top: 5px;
    margin-left: 40px;
    padding-top: 0;
    font-size: 15px;
    line-height: 30px;
  }

  .production__btn {
    order: 4;
    width: 87%;
    margin-top: 21px;
    margin-bottom: 45px;
    margin-left: 40px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: $desctop-width) {
  .production {
    @include container;
    position: relative;
    max-width: 1050px;
    margin-top: 55px;
    margin-bottom: 105px;
  }

  .production__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
  }

  .production__title {
    width: 22%;
    margin-right: 60px;
    margin-left: auto;
    padding-top: 70px;
    padding-left: 0;
    background-position: 1px 16px;
  }

  .production__description {
    width: 25%;
    margin-right: 20px;
    margin-left: auto;
  }

  .production__btn {
    display: block;
    width: 21.5%;
    margin-top: 32px;
    margin-right: 58px;
    margin-bottom: 60px;
    margin-left: auto;
    text-align: center;
  }
}
