.production {
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 60px;
  border: 1px solid #ececec;
  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.production__container{
  width: 100%;
  position: relative;
}

.production__title {
  padding-top: 8px;
  padding-left: 60px;
  padding-bottom: 10px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  color: $main-font-color;
  font-size: 17px;
  font-weight: $font-bold;
  line-height: 24px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 5px 15px;
}

.production__description {
  width: 73%;
  padding-top: 10px;
  padding-right: 7px;
  margin-left: auto;
  margin-right: auto;
  color: $loghten-font;
  font-size: 13px;
  font-weight: $font-normal;
  line-height: 24px;
}

.production__btn{
  margin-top: 24px;
  display: block;
  text-align: center;
  width: 63%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  padding: 0 13px;
  padding-top: 12px;
  padding-bottom: 16px;
  margin-bottom: 32px;

}

@media (min-width: $tablet-width) {
  .production {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    border: 1px solid #ececec;
  }
  .production__title {
    order: 2;
    margin-top: 25px;
    margin-left: 42px;
    padding-left: 64px;
    font-size: 20px;
    line-height: 24px;
    background-position: 0px 5px;
  }

  .production__container{
    order: 1;
  }

  .production__description {
    order: 3;
    padding-top: 0px;
    margin-top: 5px;
    margin-left: 40px;
    font-size: 15px;
    line-height: 30px;
    width: 87%;
  }

  .production__btn {
    order: 4;
    margin-top: 21px;
    margin-left: 40px;
    padding-left: 0px;
    padding-right: 0px;
    width: 87%;
    margin-bottom: 45px;
  }
}
@media (min-width: $desctop-width) {

  .production {
    position: relative;
    max-width: 1050px;
    @include container;
    margin-top: 55px;
    margin-bottom: 105px;
  }

  .production__container{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 65%;
  }

  .production__title {
    padding-top: 70px;
    padding-left: 0px;
    margin-left: auto;
    margin-right: 60px;
    width: 22%;
    background-position: 1px 16px;
  }

  .production__description {
    margin-left: auto;
    margin-right: 20px;
    width: 25%;
  }

  .production__btn {
    margin-top: 32px;
    margin-left: auto;
    margin-right: 58px;
    margin-bottom: 60px;
    display: block;
    text-align: center;
    width: 21.5%;
  }
}
