.reviews__title {
  margin-top: 60px;
  color: $main-font-color;
  font-size: 25px;
  font-weight: $font-bold;
  line-height: 30px;
}

.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__author {
  font-style: normal;
  display: inline-block;
  order: 1;
  width: 241px;
  color: $main-font-color;
  font-size: 17px;
  line-height: 24px;
  font-weight: $font-bold;

  span {
    color: $loghten-font;
    font-weight: $font-normal;
    line-height: 30px;
  }
}

.rewiews__text {
  width: 260px;
  color: $loghten-font;
  font-size: 15px;
  font-weight: $font-normal;
  line-height: 30px;
}
