.reviews__title {
  margin: 0;
  padding-top: 50px;
  font-weight: $font-bold;
  font-size: 25px;
  line-height: 30px;
  color: $main-font-color;
}

.reviews__item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.reviews__author {
  display: inline-block;
  order: 2;
  width: 241px;
  padding-top: 10px;
  font-weight: $font-bold;
  font-size: 17px;
  line-height: 24px;
  color: $main-font-color;
  font-style: normal;

  span {
    font-weight: $font-normal;
    line-height: 30px;
    color: $loghten-font;
  }
}

.reviews__text {
  order: 1;
  width: 260px;
  margin-top: 0;
  padding-top: 24px;
  font-weight: $font-normal;
  font-size: 15px;
  line-height: 30px;
  color: $loghten-font;
}

.reviews__toggles {
  margin-top: 31px;
}

.reviews {
  @include inside-container;
}

.reviews__btn {
  margin-top: 25px;
  padding: 0 78px;
  padding-top: 9px;
  padding-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .reviews {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1050px;
    padding-top: 105px;
    padding-bottom: 145px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 78px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px 457px;
    }
  }

  .reviews__title {
    order: 1;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__btn {
    position: absolute;
    top: 133px;
    right: 50px;
    width: 171px;
    height: 22px;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__text {
    order: 3;
    width: 97.6%;
    max-width: 646px;
    padding-top: 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .reviews__author {
    order: 4;
    width: 260px;
    padding-top: 40px;
    font-size: 18px;
    line-height: 24px;

    span {
      font-size: 17px;
      line-height: 30px;
    }
  }

  .reviews__toggles {
    position: absolute;
    right: 50px;
    bottom: 128px;
  }
}

@media (min-width: $desctop-width) {
  .reviews {
    @include central-container;
    background-position: 50px 88px;
  }

  .reviews__title {
    padding-left: 170px;
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__item {
    padding-left: 170px;
  }

  .reviews__text {
    width: 778px;
  }

  .reviews__author {
    padding-top: 23px;
  }

  .reviews__btn {
    top: 140px;
  }
}
