.site-nav__item {
  display: block;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  a {
    display: flex;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 50px;
    font-weight: $font-bold;
    font-size: 17px;
    line-height: 24px;
    color: $main-font-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $link-hover-color;
    }

    &:active {
      color: $link-active-color;
    }
  }
}


@media (min-width: $tablet-width) {
  .site-nav {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    order: 2;
    width: auto;
  }

  .site-nav__item {
    padding-left: 35px;
    border: none;
    box-shadow: none;

    a {
      display: inline-block;
      width: 100%;
      margin: 0;
      padding-top: 20px;
      padding-left: 0;
      font-size: 15px;
      line-height: 24px;
    }

    &:first-child {
      padding: 0;
      padding-left: 50px;
    }
  }
}

@media (min-width: $desctop-width) {
  .site-nav {
    order: 1;
    width: 33%;
    padding-right: 17%;
    border-bottom: 1px solid #ececec;
  }

  .site-nav__item {
    width: 170px;
    box-shadow: none;

    a {
      margin: 0;
      padding-top: 30px;
      font-size: 17px;
      line-height: 24px;
    }

    &:nth-child(1) {
      padding-right: 13px;
      padding-left: 0;
      border-right: 1px solid #ececec;
    }
  }
}
