.size-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 37px;
    margin-bottom: 39px;

    @include inside-container;
}

.modal-add-item__item {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 13px 0pc;
}

.size-list__label {
    padding: 13px 33px;

    font-weight: $font-bold;
    font-size: 17px;
    line-height: 16px;
    color: $loghten-font;
    text-transform: uppercase;

    border: 2px solid rgba(68,68,68, 0.1);
}

.size-list__label:hover,
.size-list__radio:focus + .size-list__label {
    border: 2px solid rgba(68,68,68, 0.3);
}

.size-list__radio:checked + .size-list__label {
    border: 2px solid $theme-color;
}

@media (min-width: $tablet-width) {
    .size-list {
        margin-top: 21px;
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;
        padding: 0;
    }

    .modal-add-item__item {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 13px 0pc;
    }

    .modal-add-item__item:nth-child(2) {
        .size-list__label {
            padding: 13px 45px;
        }
    }

    .size-list__label {
        padding: 13px 50px;
    }
}
