.social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 142px;
  margin-right: auto;
  margin-left: auto;
}

.social-list__item {
  position: relative;
}

.social-list__link {
  position: relative;
  top: 30px;
  display: block;
}

.social-list__link:hover .social-list__social-logo,
.social-list__link:focus .social-list__social-logo {
  fill: $theme-color;
}

.social-list__link:active .social-list__social-logo {
  opacity: 0.3;
  fill: #46c1ae;
}

.social-list__social-logo {
  position: relative;
  fill: $main-font-color;
}

.social-list__social-logo--fb {
  top: -5px;
}

@media (min-width: $tablet-width) {
  .social-list {
    margin: 0;
    padding-top: 33px;
    padding-left: 110px;
  }
}

@media (min-width: $desctop-width) {
  .social-list {
    margin-right: auto;
    margin-left: auto;
    padding-right: 45px;
    padding-left: 120px;
  }
}
