.social-list{
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 142px;
  justify-content: space-between;
}

.social-list__item {
  position: relative;
}

.social-list__link {
  display: block;
  position: relative;
}

.social-list__link:hover .main-footer__social-logo,
.social-list__link:focus .main-footer__social-logo{
  fill: $theme-color;
}

.social-list__link:active .main-footer__social-logo{
  fill: #46c1ae;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social-list {
    margin: 0px;
    padding-top: 33px;
    padding-left: 21.3%;
  }
}

@media (min-width: $desctop-width) {
  .social-list {
    margin-left: auto;
    margin-right: auto;
    padding-left: 22.7%;
  }
}
