.user-nav__item {
  display: block;

  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  a {
    text-decoration: none;
    color: $main-font-color;
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;

    &:hover,
    &:focus {
      color: $link-hover-color;
    }

    &:active {
      color: $link-active-color;
    }
  }
}

.user-nav__delivery{
  display: none;
}

@media (min-width: $tablet-width){
  .user-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0;
    border-bottom: 1px solid #ececec;
  }

  .user-nav__item{
    box-shadow: none;
    border: 1px solid #ececec;
    border-bottom: none;
    border-top: none;
  }

  .user-nav__search {
    width: 82px;
    margin-left: 50%;
  }

  .search span{
    display: none;
  }

  .user-nav__cart{
    margin: 0;
    margin-left: auto;
    margin-right: 0;
    border-left: none;
    border-right: none;
    padding-right: 50px;
    a {
      display: inline-block;
      margin: 0;
      width: 100%;
    }
  }

  .user-nav__delivery{
    display: block;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 0;
    width: auto;
    padding-right: 50px;
    order: 4;
    color: $loghten-font;
    font-size: 15px;
    font-weight: $font-normal;
    line-height: 24px;
  }
}

@media (min-width: $desctop-width){
  .user-nav{
    margin-left: auto;
    width: 350px;
    order: 2;
  }
  .user-nav__search {
    width: 82px;
    margin-left: auto;
    margin-right: 0;
  }
  .user-nav__cart{
    padding-right: 0;
    margin-left: auto;
    margin-right: 0;
    border-left: none;
    border-right: none;
    a {
      text-align: right;
      padding-right: 0;
      margin: 0;
      width: auto;
    }
  }
  .user-nav__delivery{
    @include inside-container;
  }
}
