.weekly-goods__title {
  color: $theme-color;
  font-size: 17px;
  font-weight: $font-bold;
  line-height: 20px;
  text-transform: uppercase;
}

.weekly-goods__subtitle {
  font-size: 25px;
  font-weight: $font-bold;
  line-height: 30px;
}

.weekly-goods__description {
  color: $loghten-font;
  font-size: 15px;
  font-weight: $font-normal;
  line-height: 20px;
  width: 249px;
}

.weekly-goods__specifications {
  color: $loghten-font;
  font-size: 15px;
  font-weight: $font-normal;
  line-height: 20px;

  td {
    padding-top: 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
  }
}
.weekly-goods__field {
  width: 48px;
}

.weekly-goods__value {
  display: block;
  padding-left: 20px;
}

.weekly-goods__price {
  color: $loghten-font;
  font-size: 17px;
  font-weight: $font-bold;
  line-height: 24px;
}

.weekly-goods__btn {
  margin-top: 11px;
  margin-bottom: 0;
}

.weekly-goods{
  position: relative;
  @include inside-container;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.weekly-goods__header{
  display: flex;
  flex-direction: column;
  order: 1;
}
.weekly-goods__title{
  margin: 0;
  padding-top: 4px;
  order: 2;
}

.weekly-goods__subtitle {
  padding-top: 0px;
  margin-bottom: 0px;
  font-size: 25px;
  font-weight: $font-bold;
  line-height: 30px;
  order: 1;
}

.weekly-goods__main-container{
  position: relative;
  display: flex;
  flex-direction: column;
  order: 2;
}

.weekly-goods__description {
  padding-top: 14px;
  color: $loghten-font;
  font-size: 15px;
  font-weight: $font-normal;
  line-height: 20px;
  width: 249px;
  order: 3;
}
.weekly-goods__specifications {
  margin-bottom: 363px;
  padding-top: 9px;
  order: 4;
  width: 100%;
}
.weekly-goods__image{
  position: absolute;
  bottom: 125px;
  @include img-width;
  order: 5;
}
.weekly-goods__price{
  width: 124px;
  padding-left: 65px;
  order: 6;
}
.weekly-goods__btn{
  order: 7;
}

@media (min-width: $tablet-width) {
  .weekly-goods{
    padding-bottom: 70px;
    position: relative;
      &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 34px;
        background-image: url("../img/bg-zigzag-fill.svg");
        background-repeat: repeat-x;
        background-size: 770px 24px;
        left: 0px;
        top: -10px;
    }
  }
  .weekly-goods__header{
    flex-grow: 2;
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    order: 1;
  }
  .weekly-goods__title{
    margin: 0;
    margin-left: auto;
    margin-right: 30px;
    padding-top: 10px;
    display: flex;
    font-size: 17px;
    line-height: 17px;
    order: 2;
    width: 70px;
    text-align: center;
  }
  .weekly-goods__subtitle {
    padding: 0;
    margin: 0;
    color: $main-font-color;
    font-size: 43px;
    font-weight: font-bold;
    line-height: 50px;
    order: 1;
  }

  .weekly-goods__description{
    padding-top: 30px;
    font-size: 17px;
    line-height: 30px;
    width: 100%;
  }

  .weekly-goods__specifications{
    margin: 0px;
    padding-top: 20px;
  }

 .weekly-goods__main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    order: 2;
  }

  .weekly-goods__price{
    margin-top: 50px;
    padding-left: 70px;
    font-size: 20px;
    line-height: 24px;
    width: 150px;
  }

  .weekly-goods__btn{
    margin-top: 15px;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 13px;
    padding-left: 95px;
    font-size: 17px;
    line-height: 20px;
  }

  .weekly-goods__sub-container{
    display: flex;
    flex-direction: column;
    width: 290px;
  }

  .weekly-goods__image-contaner{
    padding-top: 55px;
    margin-left: auto;
    margin-right: 0px;
    display: flex;
    order: 3;
  }

  .weekly-goods__image{
    position: relative;
    top: 0;
    left: 0;
  }
}

@media (min-width: $desctop-width) {
  .weekly-goods{
    max-width: 1050px;
    padding-bottom: 0px;
    @include central-container;
     &::after{
      width: 1250px;
      top: -14px;
      left: -50px;
      background-size: 1250px 34px;
    }
  }
  .weekly-goods__header{
    margin-top: 125px;
    padding-left: 50px;
    z-index: 1;
  }
  .weekly-goods__title {
    display: inline-block;
    padding-top: 15px;
    margin: 0;
    order: 2;
    width: 70px;
    text-align: center;
  }
  .weekly-goods__subtitle {
    width: 530px;
    font-size: 53px;
    line-height: 57px;
    padding-left: 52px;
    order: 2;
  }

  .weekly-goods__image-contaner{
    padding: 0px;
  }

  .weekly-goods__image{
    position: relative;
    top: -110px;
    left: 0;
  }

  .weekly-goods__specifications{
    margin: 0px;
    padding-top: 30px;
  }

  .weekly-goods__specifications td{
    padding-top: 9px;
  }

  .weekly-goods__value{
    padding-left: 25px;
  }

  .weekly-goods__price{
    margin-top: 105px;
    padding-left: 73px;
  }

   .weekly-goods__main-container{
    padding-left: 173px;
  }
}

